pybloom-live==4.0.0
onnxruntime==1.15.1
ctranslate2==3.19.0
scrubadub==2.0.1
fasttext==0.9.2
datasets
sentencepiece
pandas
numpy
tqdm
huggingface_hub
networkx
transformers
colorama
tiktoken
openai
networkx
scikit-learn
pyarrow
jinja2
pytest
pytesseract
pdf2image
aiohttp
protobuf==3.20.2
joblib
nest_asyncio
umap-learn
datasketch
